footer {
    background-color: #cd1d1d;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    margin-bottom: 20px;
}

.footer-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-content p {
    margin-bottom: 10px;
}

.footer-content .socials {
    list-style: none;
    padding: 0;
}

.footer-content .socials li {
    display: inline-block;
    margin-right: 10px;
}

.footer-content .socials a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom p {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.content {
    flex: 1 0 auto;
}
